.layout-header, .layout-sidebar, .layout-main, .layout-footer {
    border: solid 1px #000;
    /*margin: 0;*/
    /*padding: 0;*/
    background: #ececec;
}

.layout-sidebar, .layout-main {
    height: 768px;
    overflow-y:  auto;
}