body {
    padding-top: 70px;
    background: #ececec;
}


.layout-header, .layout-sidebar, .layout-main, .layout-footer {
    
    /*margin: 0;*/
    /*padding: 0;*/
}

.layout {
	height: 100vh;
}

.layout-footer {
    height: 3vh;	
}

.layout-sidebar, .layout-main {
    height: 88vh;
    overflow-y:  auto;
}