.play-area{
    min-height: 130px;
    background: orange;
}
.card-image {
    height: 120px;
}

.stack {
    background: indianred;
    height: 300px;
}

.tapped{
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}