/*
.land {
    background: blue;
    height: 20%;
}

.battlefield {
    background: green;
    height: 20%;
}

.hand {
    background: olive;
    height: 20%;
}

.player {
    background: orange;
}


*/
/*Phases*//*

.phase {
    height: 50px;
    margin-bottom: 8px;
    */
/*width: 100%;*//*

}

.fill-horizontal {
    width: 100%;
}

.fill-vertical {
    height: 750px;
}
*/
/*.phase:last-child {*//*

    */
/*margin-bottom: 0px;*//*

*/
/*}*//*


*/
/*.upkeep, .main, .combat, .end {*//*

    */
/*border: 1px solid #000;*//*

    */
/*width: 100%;*//*

    */
/*display: block;*//*

*/
/*}*//*


.upkeep .phase {
    background: greenyellow;
}

.main .phase {
    background: cadetblue;
}

.combat .phase {
    background: indianred;
}

.end .phase {
    background: grey;
}

.ready {
    background-color: green;
}*/
